*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: arial, sans-serif;
	color: #222;
	font-size: 1.4rem;
	min-width: 400px;
}

/****** NAV BAR ******/
.nav {
	display: flex;
	justify-content: space-between;
	padding: 0.6rem;
}

.nav ul {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 2rem 1rem;
}

.nav li {
	margin: 0 1rem;
}

.nav a {
	text-decoration: none;
	color: #222;
}

.nav a:hover {
	text-decoration: underline;
}
.nav__right {
	display: flex;
	align-items: center;
}
.nav__app-icons {
	margin-left: 1.5rem;
	position: relative;
}
.nav__app-icons a {
	width: 4rem;
	height: 4rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav__app-icons:hover {
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 50%;
}
.nav__app-icons svg {
	width: 2.4rem;
	height: 2.4rem;
	display: block;
	cursor: pointer;
}

/****** MAIN PAGE ******/

main {
	margin-top: 5%;
}
.wrapper {
	width: 90%;
	max-width: 580px;
	margin: 5rem auto;
	text-align: center;
}

.logo {
	margin-bottom: 2rem;
}

.logo img {
	width: 50%;
}
.search {
	width: 100%;
	height: 44px;
	border-radius: 20px;
	border: 0.5px solid #9aa0a6;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.search:hover,
.search:focus,
.search:active {
	box-shadow: 0px 0 6px 0px rgba(0, 0, 0, 0.2);
}

.search__magnify {
	width: 20px;
	height: 20px;
	fill: #9aa0a6;
}

.search__magnify svg {
	width: 100%;
	height: 100%;
}

.search__microphone {
	width: 24px;
	height: 24px;
}

.search__microphone svg {
	width: 100%;
	height: 100%;
}
.search__bar {
	padding: 1rem;
	width: 80%;
	border-style: none;
	outline: none;
	font-size: 1.5rem;
}

.btns {
	width: auto;
	margin-top: 4rem;
}

.btns__click {
	padding: 1rem 2rem;
	background-color: #f8f9fa;
	text-decoration: none;
	color: #222;
	border-radius: 3px;
	border: 1px solid #f8f9fa;
}

.btns__click:hover {
	border: 1px solid rgb(0 0 0 / 10%);
	box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}

/****** FOOTER ******/

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	background: #f2f2f2;
	padding: 1rem 2rem;
}

.footer ul {
	list-style: none;
	display: flex;
}

.footer li {
	margin: 0.5rem;
}

.footer a {
	text-decoration: none;
	color: #70757a;
}

.footer a:hover {
	text-decoration: underline;
}
.footer__left {
	display: flex;
	justify-content: flex-start;
	min-width: 30%;
}

.footer__middle {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer__right {
	display: flex;
	justify-content: flex-end;
	min-width: 30%;
}

.footer__middle::before {
	content: '';
	text-align: center;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAYCAMAAAAiV0Z6AAAAPFBMVEVLoEN0wU6CzFKCzFKCzFKCzFKCzFJSo0MSczNDmkCCzFJPoUMTczNdr0gmgziCzFITczMTczMTczMTczPh00jOAAAAFHRSTlPF/+bIsms8Ad///hX+//5/tXw7aMEAx10AAACaSURBVHgBbc4HDoRQCATQ33tbvf9dF9QxaCT9UQaltLHOh/golXKhMs5Xqa0xU1lyoa2fXFyQOsDG38qsLy4TaV+sFislovyhPzLJJrBu6eQOtpW0LjbJkzTuTDLRVNKa3uxJI+VdiRqXSeu6GW+Qxi29eLIi8H7EsYrT42BD+mQtNO5JMjRuC4lSY8V4hsLX0egGijvUSEP9AbylEsOkeCgWAAAAAElFTkSuQmCC')
		no-repeat center center;
	padding: 1rem;
	background-size: 13px;
}

@media screen and (max-width: 1200px) {
	.footer {
		justify-content: space-evenly;
	}
	.footer__middle {
		order: 0;
		width: 100%;
	}

	.footer__left {
		order: 1;
	}

	.footer__right {
		order: 2;
	}
}
